@import "src/shared/styles/common";

.title {
    margin-top: 0;
}

.item {
    margin-bottom: 15px;
    @include flex;
    align-items: center;
}

.remove {
    color: red;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
    cursor: pointer;
}