.menu {
    display: flex;
    justify-content: center;
}

.link {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    color: red;
    border: 1px solid red;
    background-color: #fff;

    &.active {
        background-color: red;
        color: #fff;
    }
}

    